<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>


  if(!listing.image || listing.image.trim() === ''){
       listing.image ="https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?w=800";
    }